.search {
  background-color: var(--primary-light);
  transition: all 0.2s ease-in;
  width: 250px;

  &:focus {
    width: 18rem;
  }
}

.order-wrapper {
  width: min(100%, 800px);
  margin-inline: auto;
}
.order {
  width: min(100%, 800px);
  margin-inline: auto;
  > div:nth-child(even) {
    background-color: var(--color-light--3);
    padding: 1rem 1.5rem;
  }

  .status {
    display: flex;
    align-items: center;
    padding: 2rem 0;

    h2 {
      flex: 1;
    }

    div {
      display: flex;

      span {
        text-transform: uppercase;
        color: white;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        font-weight: 600;
      }

      .priority {
        background-color: #ef4444;
        margin-right: 1rem;
      }

      .on-going {
        background-color: #22c55e;
      }
    }
  }

  .delivery {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    p {
      &:first-child {
        font-weight: 600;
      }

      &:last-child {
        font-size: 0.8rem;
        color: var(--color-light--2);
      }
    }
  }
  ul {
    padding: 2rem 0;

    .item {
      list-style: none;
      padding: 1rem 1.5rem;

      > p {
        color: var(--color-light--2);
        text-transform: capitalize;
        font-style: italic;
        padding-top: 0.25rem;
      }

      div {
        display: flex;
        > p:first-child {
          flex: 1;
        }
      }
    }
  }

  .summary {
    p {
      font-size: 0.8rem;
    }
    > p:first-child,
    p:nth-child(2) {
      font-size: 0.9rem;
      padding-bottom: 1rem;
    }

    > p:last-child {
      font-size: 1rem;
      font-weight: 700;
    }
  }

  form {
    display: flex;
    padding-top: 1.5rem;
    justify-content: flex-end;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    div {
      display: grid;
      grid-template-columns: 200px 1fr;
      align-items: center;

      div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        span {
          font-size: 0.8rem;
          color: #ef4444;
          display: inline-block;
          padding-left: 1rem;
        }
      }

      button {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        z-index: 3;
      }

      input {
        border: 1px solid var(--color-light--1);
        width: 100%;
        padding: 1rem;
      }
    }
  }

  > div + div:nth-child(2) {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
  }
}
