.cart-overview {
  background-color: var(--color-dark--2);
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  color: var(--color-light--1);
  p {
    span:first-child {
      margin-right: 1rem;
    }
  }
}

.item {
  display: flex;
  list-style: none;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-light--3);
  align-items: center;

  p {
    flex: 1;
  }

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.cart {
  margin-inline: auto;
  width: min(100%, 800px);
  h2 {
    margin: 2rem 0 1rem 0;
  }
  .buttons {
    display: flex;
    gap: 1rem;
    padding: 2rem 0;
  }
}

.empty-cart {
  width: min(100%, 800px);
  margin-inline: auto;
  padding: 1rem 0;
  font-weight: 500;

  p {
    padding-top: 1rem;
  }
}

.cart-quantity {
  display: flex;
  gap: 0.5rem;
}
